In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use("fivethirtyeight")

df = pd.read_csv('/Users/natimarcus/Desktop/DAT-06-24/class material/Unit 3/data/bikeshare.csv',index_col = 'datetime', parse_dates=True)

In [9]:
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
datetime,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1

In [10]:
new_dict = {
    'Clear Skies': 4,
    'Partly Cloudy': 3,
    'Light Storms/Rain':2,
    'Heavy Storms/Rain':1
}

df.weather = df.weather.map(new_dict)

In [11]:
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
datetime,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,4,9.84,14.395,81,0.0,16
2011-01-01 01:00:00,Spring,0,0,4,9.02,13.635,80,0.0,40
2011-01-01 02:00:00,Spring,0,0,4,9.02,13.635,80,0.0,32
2011-01-01 03:00:00,Spring,0,0,4,9.84,14.395,75,0.0,13
2011-01-01 04:00:00,Spring,0,0,4,9.84,14.395,75,0.0,1

In [12]:
pd.get_dummies(df.season, drop_first=True).head()

                     Spring  Summer  Winter
datetime
2011-01-01 00:00:00       1       0       0
2011-01-01 01:00:00       1       0       0
2011-01-01 02:00:00       1       0       0
2011-01-01 03:00:00       1       0       0
2011-01-01 04:00:00       1       0       0

In [13]:
df = pd.get_dummies(df, drop_first = True)

In [14]:
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,season_Spring,season_Summer,season_Winter
datetime,,,,,,,,,,,
2011-01-01 00:00:00,0,0,4,9.84,14.395,81,0.0,16,1,0,0
2011-01-01 01:00:00,0,0,4,9.02,13.635,80,0.0,40,1,0,0
2011-01-01 02:00:00,0,0,4,9.02,13.635,80,0.0,32,1,0,0
2011-01-01 03:00:00,0,0,4,9.84,14.395,75,0.0,13,1,0,0
2011-01-01 04:00:00,0,0,4,9.84,14.395,75,0.0,1,1,0,0

In [15]:
from sklearn.linear_model import LinearRegression

In [27]:
x = df.loc[:, df.columns != 'count']
y = df['count']

num_cols = x.select_dtypes(include=np.number).columns.tolist()
x[num_cols] = (x[num_cols] - x[num_cols].mean()) / x[num_cols].std()

In [28]:
lr = LinearRegression()
lr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [29]:
lr.score(x,y)

0.2752503232099429

In [30]:
coeffs = pd.DataFrame({
    'Variable':x_std.columns,
    'Weight':lr.coef_
}).sort_values(by='Weight', ascending=False)
coeffs

NameError: name 'x_std' is not defined

In [31]:
import statsmodels.api as sm

mod = sm.OLS(y, x)
results = mod.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  count   R-squared (uncentered):                   0.130
Model:                            OLS   Adj. R-squared (uncentered):              0.129
Method:                 Least Squares   F-statistic:                              162.4
Date:                Wed, 31 Jul 2019   Prob (F-statistic):                   2.16e-319
Time:                        19:46:57   Log-Likelihood:                         -75374.
No. Observations:               10886   AIC:                                  1.508e+05
Df Residuals:                   10876   BIC:                                  1.508e+05
Df Model:                          10
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
holiday          -1.4378      2.440     -0.589      0.556      -6.221       3.345
workingday       -1.3339      2.442     -0.546      0.585      -6.122       3.454
weather          -1.6807      2.632     -0.638      0.523      -6.841       3.479
temp             62.0383     14.994      4.138      0.000      32.648      91.429
atemp            24.6523     14.312      1.723      0.085      -3.401      52.706
humidity        -54.2577      2.873    -18.884      0.000     -59.890     -48.626
windspeed         4.4200      2.588      1.708      0.088      -0.652       9.492
season_Spring    16.2842      4.749      3.429      0.001       6.975      25.593
season_Summer    15.1685      3.261      4.651      0.000       8.776      21.561
season_Winter    44.6614      3.981     11.218      0.000      36.858      52.465
==============================================================================
Omnibus:                     2163.125   Durbin-Watson:                   0.173
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4234.270
Skew:                           1.205   Prob(JB):                         0.00
Kurtosis:                       4.877   Cond. No.                         14.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [32]:
prices = pd.read_csv('/Users/natimarcus/Desktop/DAT-06-24/class material/Unit 3/data/sac_re_cat.csv', index_col='sale_date', parse_dates=False)

In [33]:
prices.head()

,street,city,zip,state,beds,baths,sq__ft,type,price
sale_date,,,,,,,,,
Wed May 21 00:00:00 EDT 2008,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222
Wed May 21 00:00:00 EDT 2008,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212
Wed May 21 00:00:00 EDT 2008,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,68880
Wed May 21 00:00:00 EDT 2008,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,69307
Wed May 21 00:00:00 EDT 2008,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,81900

In [34]:
prices.zip = prices.zip.astype('category')

In [35]:
prices.groupby('zip').zip.count()

zip
95603     5
95608    20
95610     7
95614     1
95619     1
95621    28
95623     2
95624    34
95626     4
95628     9
95630    17
95631     1
95632    21
95633     1
95635     1
95648    72
95650     2
95655     1
95660    21
95661     8
95662    11
95663     1
95667    10
95670    21
95673    13
95677     6
95678    20
95682    10
95683     4
95690     1
         ..
95758    44
95762    23
95765    11
95811     2
95814     3
95815    18
95816     4
95817     7
95818     7
95819     4
95820    23
95821     6
95822    24
95823    61
95824    12
95825    13
95826    18
95827     9
95828    45
95829    11
95831    10
95832    12
95833    20
95834    22
95835    37
95838    37
95841     7
95842    22
95843    33
95864     5
Name: zip, Length: 68, dtype: int64

In [37]:
transformed = prices.groupby('zip').zip.transform('count')

In [40]:
prices['zip'] = np.where(transformed < 25, 'Other', prices['zip'])

In [41]:
prices['zip'].value_counts()

Other    558
95648     72
95823     61
95828     45
95758     44
95835     37
95838     37
95757     36
95624     34
95843     33
95621     28
Name: zip, dtype: int64

In [54]:
x = prices[['beds', 'baths', 'sq__ft']]
y = prices['price']

x = (x - x.mean()) / x.std()

In [55]:
lr = LinearRegression()
lr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [56]:
lr.score(x,y)

0.18203162472419276

In [ ]:
x = prices[['zip','beds', 'baths', 'sq__ft']]
y = prices['price']

x = (x - x.mean()) / x.std()

lr = LinearRegression()
lr.fit(x, y)

lr.score(x,y)

In [ ]:
x = prices[['type','beds', 'baths', 'sq__ft']]
y = prices['price']

x = (x - x.mean()) / x.std()

lr = LinearRegression()
lr.fit(x, y)

lr.score(x,y)

In [58]:
prices['prediction'] = lr.predict(x)

ValueError: could not convert string to float: Other

In [59]:
prices.head()

,street,city,zip,state,beds,baths,sq__ft,type,price
sale_date,,,,,,,,,
Wed May 21 00:00:00 EDT 2008,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222
Wed May 21 00:00:00 EDT 2008,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212
Wed May 21 00:00:00 EDT 2008,2796 BRANCH ST,SACRAMENTO,Other,CA,2,1,796,Residential,68880
Wed May 21 00:00:00 EDT 2008,2805 JANETTE WAY,SACRAMENTO,Other,CA,2,1,852,Residential,69307
Wed May 21 00:00:00 EDT 2008,6001 MCMAHON DR,SACRAMENTO,Other,CA,2,1,797,Residential,81900

In [60]:
mae = np.mean(np.abs(prices['price'] - prices['prediction']))

KeyError: 'prediction'

In [ ]:
mse = np.mean((prices['price'] - prices['prediction'])**2)

In [ ]:
from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(df['count'], df['prediction']))
print('MAE:', metrics.mean_squared_error(df['count'], df['prediction']))